.projectsContainer {
  padding: 10rem;
  display: grid;
  place-items: center;
}

.projects {
  display: grid;
  place-items: center;
  margin: 10rem 0;
}

.projectsContainer i {
  cursor: pointer;
  font-size: 12rem;
  margin-bottom: 20rem;
  background: linear-gradient(180deg, var(--dark-purple) 0%, var(--blue) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s all ease-in;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.08), -2px 2px 0px rgba(0, 0, 0, 0.08);
}

.projectsContainer i:hover {
  background: var(--dark-purple);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

.project {
  margin: 5rem;
  display: flex;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  transition: 0.2s all ease-in;
}

.projectContainer {
  height: 70rem;
  display: grid;
  place-items: center;
}

.project:hover {
  padding: 2rem;
  box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.03), -2px 2px 2px 4px rgba(0, 0, 0, 0.03);
}

.project img {
  width: 80%;
  border-radius: 2rem;
}

.project p {
  margin-left: 8rem;
  font-size: 3rem;
  width: 80%;
  opacity: 85%;
}

.projectsContainer h2 {
  padding: 10rem;
  width: 70%;
  font-weight: normal;
  font-size: 5.4rem;
  text-align: center;
}

@media (max-width: 600px) {
  .projectsContainer {
    padding: 10rem 5rem;
  }

  .projectsContainer h2 {
    font-weight: 500;
    font-size: 4.8rem;
    width: 70%;
    font-weight: normal;
    text-align: center;
    padding: 5rem;
    width: 100%;
  }

  .projectsContainer h1 {
    width: 80%;
    text-align: center;
  }

  .projects {
    width: 100vw;
    margin-top: 10rem;
  }

  .project {
    width: 100%;
    flex-direction: column;
  }

  .project img {
    width: 100%;
  }

  .project p {
    padding: 3rem;
    margin: 0;
    width: 100%;
  }
}
